* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	overflow-x: hidden;
}
body {
	background-color: black;
	font-family: 'Poppins', sans-serif;
}

main {
	padding-top: 120px;
}

header {
	height: 120px;
	padding: 10px 0 0 30px;
	background-color: rgb(255, 208, 0);
	width: 100%;
	justify-content: space-between;
	position: fixed;
}

main{
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.container{
	height: 100vh;
	width: 100%;
	background-image: url(../Pictures/Picture1.jpg);
	background-size: cover;
	background-position:center;
	background-repeat: no-repeat;
	transition: 3s;
	animation: cbt 40s ease-in-out infinite;
}

@keyframes cbt{
	0%{
		background-image: url(../Pictures/Picture1.jpg);
	}
	20%{
		background-image: url(../Pictures/Picture2.jpg);
	}
	40%{
		background-image: url(../Pictures/Picture3.jpg);
	}

	60%{
		background-image: url(../Pictures/Picture4.jpg);
	}
	80%{
		background-image: url(../Pictures/Picture5.jpg);
	}
	100%{
		background-image: url(../Pictures/Picture6.jpg);
	}
}

button {
	border-radius: 100px;
	background-color: rgb(255, 208, 0);
	height: 75px;
	width: 75px;
	transition: 1s;
	float: right;
	display: inline;
}
.navButton {
	height: 70px;
	margin: 15px 5% 0% auto;
	transition: 0.2s;
 }
 .navButton:hover {
	 border: 5px solid white;
	 border-radius: 100px;
  }
 
  .navButtonSelected {
	 filter: invert(1);
 }

button{
	border: none;
	background: none;
	cursor: pointer;
	margin: 0;
	padding: 0;
}
#hamburgerMenu {
	font-size: 1.7rem;
	}

#hamburgerMenu ul a{
	justify-content: center;
	padding: 3px;
	text-align: center;
	text-decoration: none;
	color: rgb(255, 208, 0);
	transition: 0.5s;	
}

.offset {
	padding-top: 120px;
}

#hamburgerMenu ul a:hover{
	color: white;
}

.text{
	max-width: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-10%);
    background-color: rgba(0,0,0,.8);
    color:white;
    padding: 7rem 5rem;
}

main h5{
	position: static;
	font-size: 50px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom: 20px;
	}

main p{
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 100;
}

@media screen and (min-width: 767px) {
	
	#omLogo {
		height: 75px;
		margin-top: 10px;
	}
	#hamburgerMenu a, li {
		display: none;
	}
	#hamburgerButton {
		display: none;
	}
	.navButton {
		display: inline;
		float: right;
	}
}
@media screen and (max-width: 767px) {
	html{
		overflow-y:hidden;
	}
	.text {
		max-width: 100%;
        padding: 2rem;
        padding-bottom: 80px;
        top: inherit;
        bottom: 0;
        transform:initial;
	}
	h5 {
		font-size: 5rem;
	}
	p {
		font-size: 1.2rem;
	}
	#omLogo {
		height: 65px;
		padding-top: 10px;
	}

	header {
		height: 90px;
		padding: 5px 0 0 30px;
	}
	#hamburgerMenu {
		display: none;
	}
	#hamburgerButton img {
		display: inline;
		height: 50px;
	}
	.navButton {
		display: none;
	}
}