* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: 'Poppins', sans-serif;
}

header {
    height: 120px;
    padding: 10px 0 0 30px;
    background-color: rgb(255, 208, 0);
    width: 100%;
    justify-content: space-between; 
}


button {
    border-radius: 100px;
    background-color: rgb(255, 208, 0);
    height: 75px;
    width: 75px;
    transition: 1s;
    float: right;
    display: inline;
}

.navButton {
   height: 70px;
   margin: 15px 5% 0% auto;
   transition: 0.2s;
}
.navButton:hover {
    border: 5px solid white;
    border-radius: 100px;
 }

 .navButtonSelected {
	filter: invert(1);
}

button{
    border: none;
    background: none;
    cursor: pointer;
    margin:0;
    padding: 0;
}

#hamburgerMenu {
    font-size: 25px;
}
#hamburgerMenu ul a{
    justify-content: center;
    padding: 3px;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 208, 0);
}
#hamburgerMenu ul a:hover{
    color:white;
    animation-delay: 3s;
}

main{
    width: 100%;
    background: white;
}

main h1, h2, h3, p{
    padding-left: 15%;
    padding-right: 15%;
}
main h1, h2, h3{
    text-transform: uppercase;
    letter-spacing: 2px;    
}

main h1{
    font-size: 4.5rem;
    text-align: left;
}

main h2{
    font-size: 3rem;
}

main h3{
    font-size: 2rem;
}

main p{
    padding-bottom: 30px;
    font-size: 1.7rem;
}

.sources p{
    padding-bottom: 0;
    
}
.sources a{
    font-size: 1.5rem;
}

main img{
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px; 
    /* Code copied from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_image_center */
}


@media screen and (min-width: 767px) {
    #omLogo { 
        height: 100px;
    }
    
    #hamburgerMenu a, li {
        display: none;
    }

    #hamburgerButton {
        display: none;
    }
    .navButton {
        display: inline;
        float: right;
     }
     .sources a{
        padding-left: 15%;
     }
}

@media screen and (max-width: 767px) { 
    html{
        overflow-x: hidden;
    }

    #omLogo {
        height: 70px;
    }

    header {
        height: 90px;
        padding: 5px 0 0 30px;
   }

    #hamburgerMenu {
        display: none;
    }  

    #hamburgerButton img {
        display: inline;
        height: 50px;
     }

   .navButton {
       display: none;
    }

    main h1, h2, h3, p{
        text-align: center;
    }

    .sources a{
        text-align: center;
        display:block;
    }

}
